# Django Settings
SECRET_KEY=django-insecure-=x=4@f=l21kx5o32y$c@4r(+5k-7mao4_aa0-!w-xz#qcm(9(=
DEBUG=True
ALLOWED_HOSTS=*

# Database Configuration (XAMPP default or remote)
DB_ENGINE=django.db.backends.mysql
DB_NAME=tibldb
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# Redis / Celery
CELERY_BROKER_URL=redis://127.0.0.1:6379/0

# Security
CSRF_TRUSTED_ORIGINS=https://gestao.tibl.ao
CORS_ALLOWED_ORIGINS=https://gestao.tibl.ao

# StrongX SMS
STRONGX_API_KEY=
STRONGX_APP_ID=
STRONGX_TEST_PHONE=   # deixar vazio em produção

# Email Settings
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
