# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
ENV/


# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# Project Specific
ambivirtual.tar
*/*.bak
*/*.bak1


# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

server.log
run.sh
remove_venv_git.sh
test_mysql.py
README_RESOLUCAO.md
