version: '3'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code

    ports:
      - "8000:8000"

    extra_hosts:
      - "host.docker.internal:host-gateway"