{% extends 'index.html' %}
{% block Bancosdetalhado %}

{% if registoachado %}
<div align="center"><span class="a3">
<table align="center" cellpadding="5" cellspacing="0" border = "0" bgcolor="#f4f1e5" >
{% for x in registoachado %}
<tr align="center" bgcolor="#362E6C" ><td colspan=2><font face="verdana,arial,helvetica" size="3" color='#FFFFFF'><a href ="/tibl/{{ gestaoescolhida }}/eliminar/{{ x.id }}" target ="bank"> <i>Eliminar</i></a>  |<a href ="/tibl/{{ gestaoescolhida }}/actualizar/{{ x.id }}" target ="bank"> <i>editar</i></a></td></td></tr>
<tr class="fortexto"><td class="a4">Designação</td><td class="a4">{{ x.designacao }}</td></tr>
<tr class="fortexto"><td class="a4">Abreviação:</td><td class="a4">{{ x.abreviacao }}</td></tr>
<tr class="fortexto"><td class="a4">Gestor:</td><td class="a4">{{ x.gestor }} </td></tr>
<tr class="fortexto"><td class="a4">Telefones:</td><td class="a4">{{ x.telefone }} </td></tr>
<tr class="fortexto"><td class="a4">Email:</td><td class="a4">{{ x.email }} </td></tr>
{% endfor %}
</table></span>
{% endif %}
</div>
<br>


{% endblock %}

