{% extends 'index.html' %}
{% block ConteudoEnsinoDetalhado %}
{% load static %}

{% if registoachado %}
<div align="center"><span class="a3">
<table align="center" cellpadding="5" cellspacing="0" border = "0" bgcolor="#b9fbc0" >
{% for x in registoachado %}
<tr align="center" bgcolor="#548c2f" ><td colspan=2><font face="verdana,arial,helvetica" size="3" color='#FFFFFF'><a href ="/tibl/{{ gestaoescolhida }}/eliminar/{{ x.id }}" target ="bank"> <i>Eliminar</i></a> | <a href ="/tibl/{{ gestaoescolhida }}/actualizar/{{ x.id }}" target ="bank"> <i>editar</i></a></td></td></tr>
<tr class="fortexto"><td class="a4">Autor:</td><td class="a4">{{ x.autor.nome}}</td></tr>
<tr class="fortexto"><td class="a4">Titulo:</td><td class="a4">{{ x.titulo }}</td></tr>

<tr class="fortexto">
    <td class="a4">Ficheiro:</td>
    <td class="a4">
        {% if x.ficheiro %}
            <a href="{{ x.ficheiro.url }}" 
               target="_blank" 
               style="color: blue; font-weight: bold;">
               Ver ficheiro
            </a>
        {% else %}
            Sem ficheiro
        {% endif %}
    </td>
  </tr>
  

<tr align="center" bgcolor="#548c2f" ><td colspan=2></td></td></tr>
{% endfor %}
</table></span>
{% endif %}
</div>
<br>


{% endblock %}

