{% extends 'index.html' %}
{% block EnvioMensagemDetalhado %}
{% load static %}

{% if registoachado %}
<div align="center"><span class="a3">
<table align="center" cellpadding="5" cellspacing="0" border = "0" bgcolor="#b9fbc0" >
{% for x in registoachado %}
<tr align="center" bgcolor="#548c2f" ><td colspan=2><font face="verdana,arial,helvetica" size="3" color='#FFFFFF'><a href ="/tibl/{{ gestaoescolhida }}/eliminar/{{ x.id }}" target ="bank"> <i>Eliminar</i></a> | <a href ="/tibl/{{ gestaoescolhida }}/actualizar/{{ x.id }}" target ="bank"> <i>editar</i></a></td></td></tr>
<tr class="fortexto"><td class="a4">Mensagem:</td><td class="a4">{{ x.mensagem}}</td></tr>
<tr class="fortexto"><td class="a4">Quem enviou:</td><td class="a4">{{ x.quemenviou.nome }}</td></tr>
<tr class="fortexto"><td class="a4">SMS:</td><td class="a4">{{ x.sms }}</td></tr>
<tr class="fortexto"><td class="a4">Email:</td><td class="a4">{{ x.email }}</td></tr>
<tr class="fortexto"><td class="a4">Data de envio:</td><td class="a4">{{ x.data_criacao }}</td></tr>
<tr align="center" bgcolor="#548c2f" ><td colspan=2></td></td></tr>
{% endfor %}
</table></span>
{% endif %}
</div>
<br>


{% endblock %}

