{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma TIB Luanda</title>
    <link rel="stylesheet" href="styles.css">
    <link href="{% static 'estilos/header-alter.css' %}" rel="stylesheet">
    <link href="{% static 'estilos/footer-alter.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'estilos/messages.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

<body class="fullscreen-bg">

<!-- =========================
     HEADER PÚBLICO
========================= -->


<header class="public-header">
    {% if not user.is_authenticated %}
    <button class="menu-toggle header-toggle" aria-expanded="false" aria-controls="header-nav" id="header-toggle" aria-label="Mostrar menu">☰</button>
    <nav class="header-nav" id="header-nav">
        <a href="https://www.tibl.ao" target="_blank">Sobre</a>
        <a href="https://www.tibl.ao/contactos" target="_blank">Contactos</a>
    </nav>
    {% endif %}
</header> 
{% load i18n %}

{% language 'pt' %}
{% load verificagrupo %}

<tr>
<td valign="TOP">
<!-- <div style="border:0px; padding-left:11px;font:14px verdana,arial,sans-serif;"><br>
<img src="{% static 'fotos/2022/cba.png' %}" alt="CBA"  width="100" height="100"> -->
<!-- <h1 class="a1"> CBA </h1>
<h1 class="a1"> Terceira Igreja Baptista de Luanda </h1><br> -->
<!-- </div> -->


{%  if user.is_authenticated and 'login' not in request.path  %}
    <button class="menu-toggle" aria-expanded="false" aria-controls="menu-bar" id="menu-toggle" aria-label="Mostrar menu" style="background-color: #548c2f;">☰ Menu</button>
    <div class="menu-bar" id="menu-bar">
        {% if user.is_authenticated %}
            {% if request.user|has_group:'Administrador' %}
                <a href="/tibl/gestao/irmaos/1">Irmãos</a> &nbsp;&nbsp;
                <a href="/tibl/gestao/actividades/1">Actividades</a> &nbsp;
                <a href="/tibl/gestao/escalas/1">Escalas</a> &nbsp;
                <a href="/tibl/gestao/departamentos/1">Departamentos</a> &nbsp;
                <a href="/tibl/gestao/cestas/1">Cestas básicas</a> &nbsp;&nbsp;
                <a href="/tibl/gestao/contasbancarias/1">Contas Bancárias</a> &nbsp;&nbsp;
                <a href="/tibl/gestao/bancos/1">Bancos</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/entradabancos/1">Entrada via banco</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/saidabancos/1">Saida via banco</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/entradascaixa/1">Entrada via caixa</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/saidascaixa/1">Saida via caixa</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/dizimosofertas/1">Dízimos e ofertas</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/relatoriosemanalcelula/1">Relatório semanal da Célula</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/pedidosaida/1">Pedido de Saida</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/orcamentodepartamento/1">Orçamento de Departamentos</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/inventariopatrimonio/1">Inventário de Património</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/conteudoensino/1">Conteúdos de Ensino</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/enviomensagem/1">Envio de Mensagem Massiva</a>&nbsp;&nbsp;
            
                <a href="/tibl/gestao/ajudas/1">Apoios</a> &nbsp;&nbsp;
                <a href="/tibl/gestao/mandatos/1">Mandatos</a>&nbsp;&nbsp;
            
            {% elif request.user|has_group:'Financeiro' %}
                <a href="/tibl/gestao/cestas/1">Cestas básicas</a> &nbsp;&nbsp;
                <a href="/tibl/gestao/contasbancarias/1">Contas Bancárias</a> &nbsp;&nbsp;
                <a href="/tibl/gestao/bancos/1">Bancos</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/entradabancos/1">Entrada via banco</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/saidabancos/1">Saida via banco</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/entradascaixa/1">Entrada via caixa</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/saidascaixa/1">Saida via caixa</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/dizimosofertas/1">Dízimos e ofertas</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/orcamentodepartamento/1">Orçamento de Departamentos</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/inventariopatrimonio/1">Inventário de Património</a>&nbsp;&nbsp;


            {% elif request.user|has_group:'Secretaria' %}
                <a href="/tibl/gestao/irmaos/1">Irmãos</a> &nbsp;&nbsp;
                <a href="/tibl/gestao/actividades/1">Actividades</a> &nbsp;
                <a href="/tibl/gestao/escalas/1">Escalas</a> &nbsp;
                <a href="/tibl/gestao/departamentos/1">Departamentos</a> &nbsp;
                <a href="/tibl/gestao/relatoriosemanalcelula/1">Relatório semanal da Célula</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/pedidosaida/1">Pedido de Saida</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/conteudoensino/1">Conteúdos de Ensino</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/enviomensagem/1">Envio de Mensagem Massiva</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/ajudas/1">Apoios</a> &nbsp;&nbsp;
                <a href="/tibl/gestao/mandatos/1">Mandatos</a>&nbsp;&nbsp;
            
            {% elif request.user|has_group:'Membros Baptizados' %}
                <a href="/tibl/gestao/irmaos/1">Irmãos</a> &nbsp;&nbsp;
                <a href="/tibl/gestao/actividades/1">Actividades</a> &nbsp;
                <a href="/tibl/gestao/escalas/1">Escalas</a> &nbsp;
                <a href="/tibl/gestao/orcamentodepartamento/1">Orçamento de Departamentos</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/contasbancarias/1">Contas Bancárias</a> &nbsp;&nbsp;
                <a href="/tibl/gestao/relatoriosemanalcelula/1">Relatório semanal da Célula</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/conteudoensino/1">Conteúdos de Ensino</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/mandatos/1">Mandatos</a>&nbsp;&nbsp;
            
            {% elif request.user|has_group:'Membro Geral' %}
                <a href="/tibl/gestao/irmaos/1">Irmãos</a> &nbsp;&nbsp;
                <a href="/tibl/gestao/actividades/1">Actividades</a> &nbsp;
                <a href="/tibl/gestao/escalas/1">Escalas</a> &nbsp;
                <a href="/tibl/gestao/relatoriosemanalcelula/1">Relatório semanal da Célula</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/conteudoensino/1">Conteúdos de Ensino</a>&nbsp;&nbsp;
                <a href="/tibl/gestao/mandatos/1">Mandatos</a>&nbsp;&nbsp;

            {% endif %}
        {% endif %}

    </div>
{% endif %}
{% if user.is_authenticated %}

<div class="user-online">
  Usuário on-line: <strong>{{ user.username }}</strong> |
  Grupo:
  <strong>{{ user.groups.first.name|default:"Sem grupo" }}</strong>
  |
  <a href="{% url 'logout' %}">Sair</a>
</div>


{% else %}

     
<div style="text-align:center; padding: 80px 0; background-color:#548c2f; color:white; border-radius:15px; margin: 50;">
   <img src="{% static 'fotos/2022/cba.png' %}" alt="TIB Luanda">
        <div class="header-title">
           <p><h1>Terceira Igreja Baptista de Luanda</h1> <p/>
            <span class="tagline">Servir a Deus · Edificar Pessoas · Transformar Vidas</span>
        </div>
  
    <h2 style="font-size:28px; margin-bottom:20px;">Bem-vindo à Plataforma de gestão</h2>
    <p style="font-size:16px; margin-bottom:30px;">Acesse sua conta.</p>
    
    <!-- Botões Login e Cadastrar centralizados -->
    <a href="{% url 'login' %}" class="button" style="margin-right:20px; padding:12px 25px; font-size:16px;">Login</a>
    <!-- <a href="{% url 'login' %}" class="button" style="padding:12px 25px; font-size:16px;">Cadastrar</a> -->
</div>
{% endif %}

{% if user.is_authenticated %}
{% if request.resolver_match.url_name == ' ' or request.path == '/' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="dashboard-grid">
  <div class="card">
    <h3>Irmaos</h3>
    <canvas id="irmaos"></canvas>
  </div>

  <div class="card">
    <h3>Distribuição de Orçamento</h3>
    <canvas id="pizzaOrcamento"></canvas>
  </div>

  <div class="card">
    <h3>Envio de Mensagens (Semanal)</h3>
    <canvas id="linhasMensagens"></canvas>
  </div>
</div>
<div class="dashboard-grid2">
  <div class="card card2">
    <h3>Fluxo de Caixa (Banco + Caixa)</h3>
    <span class="stat-highlight stat-highlight2">MT 150.000,00</span>
    <div class="chart-container chart-container2">
      <canvas id="fluxoCaixaChart"></canvas>
    </div>
  </div>

  <div class="card card2">
    <h3>Dízimos vs. Ofertas</h3>
    <div class="chart-container chart-container2">
      <canvas id="ofertasChart "></canvas>
    </div>
  </div>

  <div class="card card2">
    <h3>Crescimento de Membros (Células)</h3>
    <div class="chart-container chart-container2">
      <canvas id="membrosChart"></canvas>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script>
// 1. Gráfico de Barras (Cestas Básicas)
fetch('dashboard/numero-irmaos-cadastrados-mensalmente')
  .then(response => response.json())
  .then(json => {
      new Chart(document.getElementById('irmaos'), {
          type: 'bar',
          data: {
              labels: json.labels,
              datasets: [{
                  label: 'Numero de irmaos cadastrados',
                  data: json.data,
                  backgroundColor: '#769656'
              }]
          },
          options: {
              responsive: true
          }
      });
  });

// 2. Gráfico de Pizza (Orçamento)
fetch('/dashboard/orcamento-departamento')
  .then(response => response.json())
  .then(json => {

      const canvas = document.getElementById('pizzaOrcamento');

      // Paleta base de verdes
      const baseColors = ['#769656', '#98b37e', '#4d6338', '#b9ccaa', '#5f7d48', '#cfe0bf'];

      // Gera cores repetindo da paleta se houver mais departamentos do que cores
      const colors = json.labels.map((_, i) => baseColors[i % baseColors.length]);

      new Chart(canvas, {
          type: 'pie',
          data: {
              labels: json.labels,
              datasets: [{
                  data: json.data,
                  backgroundColor: colors
              }]
          },
          options: {
              responsive: true,
              plugins: {
                  tooltip: {
                      callbacks: {
                          label: function(context) {
                              let total = context.dataset.data.reduce((a,b)=>a+b,0);
                              let valor = context.parsed;
                              let percent = ((valor / total) * 100).toFixed(1);
                              return `${context.label}: ${valor.toLocaleString()} (${percent}%)`;
                          }
                      }
                  }
              }
          }
      });
  })
  .catch(err => console.error("Erro ao buscar dados da API:", err));


// 3. Gráfico de Linhas (Mensagens Massivas)
new Chart(document.getElementById('linhasMensagens'), {
  type: 'line',
  data: {
    labels: ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
    datasets: [{
      label: 'Mensagens Lidas',
      data: [120, 150, 140, 180, 170, 210, 250],
      borderColor: '#769656',
      tension: 0.3,
      fill: true,
      backgroundColor: 'rgba(118, 150, 86, 0.1)'
    }]
  }
});
</script> 
{% endif %}
{% endif %}
</td>
<td></td>

</tr>
<tr>
<td colspan=2>
<p><br></p>
<p><br></p>


{% if messages %}
<div id="message-overlay">
    {% for message in messages %}

        {% if 'error' in message.tags %}
            <div class="message-card error">
        {% elif 'success' in message.tags %}
            <div class="message-card success">
        {% else %}
            <div class="message-card info">
        {% endif %}

                <span class="close-btn"
                      onclick="document.getElementById('message-overlay').style.display='none'">
                    ×
                </span>

                <p>{{ message }}</p>
            </div>

    {% endfor %}
</div>
{% endif %}


{% block Titulo %} {% endblock %} 

{% block content %} {% endblock %}

{% if user.is_authenticated %}

{% block Irmaos %} {% endblock %}
{% block irmaosdetalhe %} {% endblock %}
{% block Escalas %} {% endblock %}
{% block Mandatos %} {% endblock %}
{% block Ajudas %} {% endblock %}
{% block ajudasdetalhe %} {% endblock %}
{% block Cestas %} {% endblock %}
{% block Bancos %}{% endblock %}
{% block Contasbancarias %}{% endblock %}
{% block Actividades %} {% endblock %}
{% block Departamentos %} {% endblock %}
{% block Dizimosofertas %} {% endblock %}
{% block RelatorioSemanalCelula %} {% endblock %}
{% block RelatorioSemanalCelulaFiltrados %} {% endblock %}
{% block RelatorioSemanalCelulaDetalhado %} {% endblock %}
{% block Saidabancos %} {% endblock %}
{% block Entradasbanco %} {% endblock %}
{% block Saidascaixa %} {% endblock %}
{% block Entradascaixa %} {% endblock %}
{% block Irmaodetalhado %} {% endblock %}
{% block Ajudasdetalhado %} {% endblock %}
{% block Bancosdetalhado %} {% endblock %}
{% block Contasbancariasdetalhado %} {% endblock %}
{% block Actividadesdetalhado %} {% endblock %}
{% block Cestasdetalhado %} {% endblock %}
{% block Departamentosdetalhado %} {% endblock %}
{% block Dizimosofertasfiltradas %} {% endblock %}
{% block Dizimosofertasdetalhado %} {% endblock %}
{% block Saidascaixadetalhado %} {% endblock %}
{% block Saidascaixafiltradas %} {% endblock %}
{% block Entradascaixafiltradas %} {% endblock %}
{% block Saidabancosfiltradas %} {% endblock %}
{% block Saidabancosdetalhado %} {% endblock %}
{% block Entradascaixadetalhado %} {% endblock %}
{% block Entradasbancofiltradas %} {% endblock %}
{% block Entradabancosdetalhado %} {% endblock %}
{% block PedidoSaida %} {% endblock %}
{% block PedidoSaidaFiltrados %} {% endblock %}
{% block PedidoSaidaDetalhado %} {% endblock %}
{% block OrcamentoDepartamento %} {% endblock %}
{% block OrcamentoDepartamentoFiltrados %} {% endblock %}
{% block OrcamentoDepartamentoDetalhado %} {% endblock %}
{% block InventarioPatrimonio %} {% endblock %}
{% block InventarioPatrimonioFiltrados %} {% endblock %}
{% block InventarioPatrimonioDetalhado %} {% endblock %}
{% block ConteudoEnsino %} {% endblock %}
{% block ConteudoEnsinoFiltrados %} {% endblock %}
{% block ConteudoEnsinoDetalhado %} {% endblock %}

{% block EnvioMensagem %} {% endblock %}
{% block EnvioMensagemFiltrados %} {% endblock %}
{% block EnvioMensagemDetalhado %} {% endblock %}



{% block Irmaosfiltrados %} {% endblock %}
{% block Contasbancariasfiltradas %} {% endblock %}
{% block Actividadesfiltradas %} {% endblock %}

{% block Formularioactualizacao %} {% endblock %}
{% block Formulariocriacao %} {% endblock %}

{% endif%}
</td>
</tr>

{%  endlanguage %}



<footer class="site-footer">
    <div class="footer-container">

        <!-- LEFT -->
        <div class="footer-brand">
            <img src="{% static 'fotos/2022/cba.png' %}" alt="TIB Luanda">
            <h3>Terceira Igreja Baptista de Luanda</h3>
            <p>Servir a Deus · Edificar Pessoas · Transformar Vidas</p>
        </div>

        <!-- CENTER -->
        <div class="footer-info">
            <h4>Informações</h4>
            <p>📍 Luanda, Angola</p>
            <p>📞 +244 924 265 968</p>
            <p>✉️ info@tibl.ao</p>
        </div>

        <!-- RIGHT -->
        <div class="footer-links">
            <h4>Links Rápidos</h4>
            <a href="https://www.tibl.ao" target="_blank">Sobre Nós</a>
            <a href="https://www.tibl.ao/departamentos" target="_blank">Departamentos</a>
            <a href="https://www.tibl.ao/programacao" target="_blank">Programação</a>
            <a href="https://www.tibl.ao/ao-vivo" target="_blank">Ao Vivo</a>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 Terceira Igreja Baptista de Luanda · Todos os direitos reservados
    </div>
</footer>


<script src="{% static 'js/menu-toggle.js' %}"></script>
</body>

</html>
                                               
