{% extends 'index.html' %}
{% block Irmaodetalhado %}
{% load static %}

{% if registoachado %}
<div align="center"><span class="a3">
<table align="center" cellpadding="5" cellspacing="0" border = "0" bgcolor="#b9fbc0" >
{% for x in registoachado %}
<tr align="center" bgcolor="#548c2f" ><td colspan=2><font face="verdana,arial,helvetica" size="3" color='#FFFFFF'><a href ="/tibl/{{ gestaoescolhida }}/eliminar/{{ x.id }}" target ="bank"> <i>Eliminar</i></a> | <a href ="/tibl/{{ gestaoescolhida }}/actualizar/{{ x.id }}" target ="bank"> <i>editar</i></a></td></td></tr>
<tr class="fortexto"><td colspan=2d align="center">{% if x.foto %}<img src = "{{ x.foto.url }}" > {% endif %}</td></tr>
<tr class="fortexto"><td class="a4">Nome:</td><td class="a4">{{ x.nome}}</td></tr>
<tr class="fortexto"><td class="a4">Apelido:</td><td class="a4">{{ x.apelido }}</td></tr>
<tr class="fortexto"><td class="a4">Outros nomes:</td><td class="a4">{{ x.outrosnomes }} {{ x.serie }} </td></tr>
<tr class="fortexto"><td class="a4">Sexo:</td><td class="a4">{{ x.get_sexo_display }} </td></tr>
<tr class="fortexto"><td class="a4">Data Nascimento:</td><td class="a4">{{ x.datanascimento }} </td></tr>
<tr class="fortexto"><td class="a4">Estado Civil:</td><td class="a4">{{ x.get_estadocivil_display}} </td></tr>
<tr class="fortexto"><td class="a4">Grau de escolaridade:</td><td class="a4"> {{ x.grauescolaridade}} </td></tr>
<tr class="fortexto"><td class="a4">Profissão:</td><td class="a4">{{ x.profissao }} </td></tr>
<tr class="fortexto"><td class="a4">Local de trabalho:</td><td class="a4">{{ x.localdetrabalho }} </td></tr>
<tr align="center" bgcolor="#548c2f" ><td colspan=2></td></td></tr>
<tr class="fortexto"><td class="a4">Endereço:</td><td class="a4">{{ x.ruaenumero }} </td></tr>
<tr class="fortexto"><td class="a4">Bairro:</td><td class="a4">{{ x.bairro }}</td></tr>
<tr class="fortexto"><td class="a4">Município:</td><td class="a4">{{ x.get_municipio_display }} </td></tr>
<tr class="fortexto"><td class="a4">Província:</td><td class="a4">{{ x.get_provincia_display }} </td></tr>
<tr class="fortexto"><td class="a4">Telefones:</td><td class="a4">{{ x.telefones }} </td></tr>
<tr class="fortexto"><td class="a4">Email:</td><td class="a4">{{ x.email }} </td></tr>
<tr align="center" bgcolor="#548c2f" ><td colspan=2></td></td></tr>
<tr class="fortexto"><td class="a4">Congregação:</td><td class="a4">{{ x.congregacao }} </td></tr>
{% endfor %}
</table></span>
{% endif %}
</div>
<br>


{% endblock %}

