{% extends 'index.html' %}
{% block Entradascaixafiltradas %}

<p align="center"><font face="arial,helvetica,verdana" color="#afa3a3"  size="3"> <b>Entrada via caixa -- Registos encontrados</b></font>
</p>
<table  cellpadding="3" cellspacing="2" align="center" class = "a6" width="60%">
<tr bgcolor="#548c2f">
<td align="center"><a href=""><font face="verdana,arial,helvetica" size="3" color="#FFFFFF"><b>Valor</b></font></a></td>
<td align="center"><a href=""><font face="verdana,arial,helvetica" size="3" color="#FFFFFF"><b>Data</b></font></a></td>
<td align="center"><a href=""><font face="verdana,arial,helvetica" size="3" color="#FFFFFF"><b>Rubrica</b></font></a></td>
<td align="center"><a href=""><font face="verdana,arial,helvetica" size="3" color="#FFFFFF"><b>O responsavel</b></font></a></td>
</td>
</tr>
{% if bb %}
{% for x in bb %}
{% if forloop.counter|divisibleby:2 %}
<tr bgcolor="f8f9fa">
{% else %}
<tr bgcolor="#d8f3dc">
{% endif %}

<td><font face="verdana,arial,helvetica" size="3"><a href="/tibl/entradascaixa/detalhe/{{ x.id }}" class = 'aa'>{{ x.valor }} {{ x.get_moeda_display }}</a></font></td>
<td align="center"><font face="verdana,arial,helvetica" size="3" color = "#6E684F">{{ x.data }}</font></td>
<td align="center"><font face="verdana,arial,helvetica" size="3" color = "#6E684F">{{ x.rubrica.designacao }}</font></td>
<td align="center"><font face="verdana,arial,helvetica" size="3" color = "#6E684F">{{ x.responsavel }}</font></td>
</tr>
{% endfor %}
{% endif %}
</table>
<br>
<br>

{% include 'paginacao' %}

{% endblock %}

